@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Enter your expression:</h2>
        <form asp-controller="Home" asp-action="CheckSatisfiability" method="post">
            <textarea name="Expression" cols="40" rows="5" value="@TempData["Expression"]" class="resized"></textarea>
            <input type="submit" value="Check" class="btn btn-default resized" />
        </form>
    </div>
    <div class="col-md-4">
        <h2>Result:</h2>
        @if (TempData["Result"] == null)
        {
            ViewData["imgSrc"] = "/images/no_result.png";
        }
        else
        {
            var result = false;
            bool.TryParse(TempData["Result"].ToString(), out result);
            if (result == true)
            {
                ViewData["imgSrc"] = "/images/satisfiable.png";
            }
            else
            {
                ViewData["imgSrc"] = "/images/not_satisfiable.png";
            }
        }

        <img src=@ViewData["imgSrc"] class="resized" />
    </div>
    <div class="col-md-4">
        <h2>Overview:</h2>
        @if (TempData["Overview"] == null)
        {
            <img src="~/images/prooftreeltrdisjunct.png" class="resized" />

        }
    </div>
</div>
